* {
  background: #222;
  color: #fff;
  font-size: 25px;
  margin: 0;
}


main {
  text-align: center;
}


header {
  padding: 50px 10px;
}
h1 {
  font-size: 2em;
}
.tinyPrint {
  font-size: 0.5em;
}
header #mssg, header #playerTurn {
  font-size: 0.8em;
  font-weight: bold;
  margin: 50px auto; 
}


#board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 300px;
}
.card {
  align-items: center;
  background-color: #fff1;
  border: solid 1px #555;
  display: flex;
  font-family: cursive;
  font-size: 2em;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}
.card .X {
  color: #f00;
}
.card .O {
  color: #00f;
}
.card:hover {
  background-color: #fff2;
  cursor: pointer;
}


#reset {
  background-color: #f11a;
  border: none;
  border-radius: 10px;
  padding: 5px 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}
#reset:hover {
  background-color: #f11d;
  cursor: pointer;
}
